.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.drawing-area {
  width: 600px;
  height: 600px;
  background-color: white;
  border: 2px solid blue;
  margin: auto;
}

.select {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* #tool {
  position: absolute;
  top: 5px;
  left: 5px;
}

#width {
  position: absolute;
  top: 20px;
  left: 5px;
} */
